venv
venv/*

Infra/requirements
Infra/requirements/*

Infra/.terraform
Infra/.terraform/*

Infra/lambda_function_extract_data.zip
Infra/requirements.zip

.DS_Store
Infra/.terraform.lock.hcl
Infra/terraform.tfstate.backup
Infra/terraform.tfstate
Infra/lambda-layer-requests-python3.9-x86_64.zip
Infra/requests
Infra/requests/*
lambda-layer-requests-python3.9-x86_64.zip
python.zip


Infra/lambda_function_extract_data.zip
Infra/python.zip
Infra/requirements.zip

Infra/lambda-layer-requests-python3.9-x86_64.zip

Infra/python

Infra/venv_layer

__pycache__

__pycache__/*

extract.zip

